name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: packages
      run: ./packages/packages.sh
    - name: build
      run: ./build.sh
    - uses: actions/upload-artifact@v4
      with:
        name: tf2.so
        path: output/tf2.so
